body{
   padding: 100px;
}
.searchWeather{
    width: 600px;
    margin: 0 auto;
}
.searchWeather .card{
   height: 200px;
}
.searchWeather .card .card-content-bg{
    margin-top: 50px;
    padding: 30px;
}
.searchWeather .cloud svg{
   height: 50px;
   width: 50px;
}